<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmAssetDiposalReport.aspx.vb" Inherits="frmAssetDiposalReport" Title="Untitled Page" %>

<%@ Register Src="~/Controls/ucAssetDisposalReport.ascx" TagName="ucAssetDisposal"
    TagPrefix="uc16" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc16:ucAssetDisposal ID="ucassetdiposal" runat="server" />
</asp:Content>
