<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAssetLocation_Details.aspx.vb"
    Inherits="frmAssetLocation_Details" %>

<%@ Register Src="~/Controls/ucAssetLocation_Details.ascx" TagName="ucAssetLocation_Details"
    TagPrefix="uc4" %>

    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

            <uc4:ucAssetLocation_Details ID="ucAssetLocation_Details" runat="server" />
       </asp:Content> 