<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmCreateMainSchedule.aspx.vb" Inherits="FAM_FAM_Webfiles_frmCreateMainSchedule" title="Create Maintenance Schedule" %>

<%@ Register Src="../../Controls/CreateMaintenanceSchedule.ascx" TagName="CreateMaintenanceSchedule"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:CreateMaintenanceSchedule ID="CreateMaintenanceSchedule1" runat="server" />
</asp:Content>

