<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEditBuilding.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmEditBuilding" %>

<%@ Register Src="../../Controls/EditBuilding.ascx" TagName="EditBuilding" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EditBuilding ID="EditBuilding1" runat="server" />
</asp:Content>

