<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenPayAdvise.aspx.vb" Inherits="FAM_FAM_Webfiles_frmGenPayAdvise" title="Generate Payment Advise" %>

<%@ Register Src="../../Controls/GenPayAdvise.ascx" TagName="GenPayAdvise" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GenPayAdvise ID="GenPayAdvise1" runat="server" />
</asp:Content>

