<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenWorkOrder.aspx.vb" Inherits="FAM_FAM_Webfiles_frmGenWorkOrder" title="Generate Work Order" %>

<%@ Register Src="../../Controls/GenerateWorkOrder.ascx" TagName="GenerateWorkOrder"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GenerateWorkOrder ID="GenerateWorkOrder1" runat="server" />
</asp:Content>

