<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenAstLabels.aspx.vb" Inherits="FAM_FAM_Webfiles_frmGenAstLabels" title="Generate Asset Labels" %>

<%@ Register Src="../../Controls/GenAstLabels.ascx" TagName="GenAstLabels" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GenAstLabels ID="GenAstLabels1" runat="server" />
</asp:Content>

