<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenPayMemo.aspx.vb" Inherits="FAM_FAM_Webfiles_frmGenPayMemo" title="Generate Payment Memo" %>

<%@ Register Src="../../Controls/GenPayMemo.ascx" TagName="GenPayMemo" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GenPayMemo ID="GenPayMemo1" runat="server" />
</asp:Content>

