<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmIntraMovReq.aspx.vb" Inherits="FAM_FAM_Webfiles_frmIntraMovReq" title="Intra Movement Requisition" %>

<%@ Register Src="../../Controls/IntraMovementReq.ascx" TagName="IntraMovementReq"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:IntraMovementReq ID="IntraMovementReq1" runat="server" />
</asp:Content>

