<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmMaintenanceDesk.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmMaintenanceDesk"  %>

<%@ Register Src="../../Controls/MaintenanceDesk.ascx" TagName="MaintenanceDesk"
    TagPrefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:MaintenanceDesk ID="MaintenanceDesk1" runat="server" />

</asp:Content>

