<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmUpdateMaintenanceRequest.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmUpdateMaintenanceRequest" %>

<%@ Register Src="../../Controls/UpdateMaintenanceRequest.ascx" TagName="UpdateMaintenanceRequest"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:UpdateMaintenanceRequest ID="UpdateMaintenanceRequest1" runat="server" />
</asp:Content>

