<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="InterAssetMovementReportDtls.aspx.vb" Inherits="FAM_FAM_Webfiles_InterAssetMovementReportDtls"
    Title="Inter Asset Movement Report Details " %>

<%@ Register Src="../../Controls/InterAssetMovementReportDtls.ascx" TagName="InterAssetMovementReportDtls"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:InterAssetMovementReportDtls ID="InterAssetMovementReportDtls1" runat="server" />
</asp:Content>
