<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="Update_Maintain_Schedule.aspx.vb" Inherits="FAM_FAM_Webfiles_Update_Maintain_Schedule"
    Title="Update Plan Details" %>

<%@ Register Src="../../Controls/Update_Maintain_Schedule.ascx" TagName="Update_Maintain_Schedule"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:Update_Maintain_Schedule ID="Update_Maintain_Schedule1" runat="server" />
</asp:Content>
