<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="View_Maintanance_Schedule.aspx.vb" Inherits="FAM_FAM_Webfiles_View_Maintanance_Schedule"
    Title="View Maintenance Schedule " %>

<%@ Register Src="../../Controls/View_Maintanance_Schedule.ascx" TagName="View_Maintanance_Schedule"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:View_Maintanance_Schedule ID="View_Maintanance_Schedule1" runat="server" />
</asp:Content>
