<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/MasterPage.master"
    CodeFile="frmAMTDefault.aspx.vb" Inherits="frmAMTDefault" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div>
        <input id="Submit1" type="submit" runat="server" visible="false" style="width: 1px" />
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <br />
        <br />
        <br />
        <br />
        <br />
        &nbsp;
        <table width="780" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" valign="middle">
                    <table width="780" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="2" style="height: 50px">
                                <br />
                                <br />
                                <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Names="Verdana" ForeColor="Red"
                                    Font-Size="Larger"></asp:Label>
                                <asp:Label ID="Label2" runat="server" Visible="false"></asp:Label>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</asp:Content>

