<%@ Page Language="VB"  MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmLogout.aspx.vb" Inherits="frmLogout" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <script type="text/javascript">
    javascript:window.history.forward(0)
     
    </script>
    <div>
    
    </div>
  </asp:Content>