<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmLease_Agreement_Details.aspx.vb" Inherits="PropertyManagement_Reports_frmLease_Agreement_Details" title="Lease Agreement Details" %>

<%@ Register Src="Controls/Lease_Agreement_Details.ascx" TagName="Lease_Agreement_Details"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Lease_Agreement_Details ID="Lease_Agreement_Details1" runat="server" />
</asp:Content>

