<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmLease_Expiry_Details.aspx.vb" Inherits="PropertyManagement_Reports_frmLease_Expiry_Details" title="Lease Expiry Details" %>

<%@ Register Src="Controls/Lease_Expiry_Details.ascx" TagName="Lease_Expiry_Details"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Lease_Expiry_Details ID="Lease_Expiry_Details1" runat="server" />
</asp:Content>

