header {background-color: #9C27B0;background-image:url(../images/bg_violet.png) }
::selection {background-color:#9C27B0;color:white; }
.profile_pic{border:5px solid #7c28b5; }
.user_name{background-color:#192b44; border-color:#0e1c2f;}
.top_icons .nav_toggle_icon, .top_icons .theme_toggle_icon {background-color: #6f24a0; }
footer {color: #9C27B0}

.u-vmenu>ul>li>ul>li a:hover {
    border-left: 3px solid #9C27B0;
}
.nav-tabs li.active {
    background: #1e3a60;
}

.nav-tabs a {
    color: #9C27B0;
}

h3,h4,h5{color: #9C27B0}
.panel-title > a.collapsed {
    background-color: #ccc;
}

.panel-title > a {   
    background: #9C27B0;
}

.table>thead>tr>th {
    background-color: #9C27B0;   
    color: white;    
    border-color: #366310;
    
}


.p_heading{background-color: #9C27B0;}

.pagination > li > a, .pagination > li > span{ color: #9C27B0}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	border-color: #9C27B0;
}
.fms_form_group input[type=text]:focus, .fms_form_group select:focus, .fms_form_group textarea:focus, .chosen-choices:focus {
	 border-color:#9C27B0;
}
.fms_form_group input[type=text]:focus+label, select:focus+label, textarea:focus+label{
	color: #9C27B0;
}