<%@ Control Language="VB" AutoEventWireup="false" CodeFile="InProgressRequser.ascx.vb" Inherits="EFM_EFM_Webfiles_InProgressRequser" %>
 <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css"
        type="text/css" media="all" />
    <link href="../../Source/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>

    <script src="../../Source/js/i18n/grid.locale-en.js" type="text/javascript"></script>

    <script src="../../Source/js/jquery.jqGrid.min.js" type="text/javascript"></script>

    <script src="../../EFM/EFM_Webfiles/ReportsJS/InProgress.js" type="text/javascript"></script>

    <script type="text/javascript">
function dg_reportc()
{
var User =  '<%=session("UID")%>';
             $("#UsersGrid").setGridParam({url:'../../Generics_Handler/InProgress.ashx?Mid='+User});
		        dg_view_maintenance(User);
		        $("#UsersGrid").trigger("reloadGrid");
	      }
		      window.onload = dg_reportc;
    </script>
    <table id="Table1" runat="server" cellpadding="0" width="100%" cellspacing="0">
                            </table>
                            <table id="UsersGrid" cellpadding="0" cellspacing="0" width="100%">
                            </table>
                            <div id="UsersGridPager">
                            </div>
