<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGBrandModify.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGBrandNewRecord"%>
<%@ Register Src="~/Controls/AMGBrandModify.ascx" TagName="ucAMGBrandModify" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc1:ucAMGBrandModify ID="AMGBrandModify1" runat="server" />
</asp:Content>

