<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGBrandNewRecord.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGBrandNewRecord"%>

<%@ Register Src="../../Controls/AMGBrandNewRecord.ascx" TagName="AMGBrandNewRecord"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGBrandNewRecord ID="AMGBrandNewRecord1" runat="server" />
</asp:Content>

