<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGGroupNewRecord.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGGroupNewRecord" %>

<%@ Register Src="../../Controls/AMGGroupNewRecord.ascx" TagName="AMGGroupNewRecord"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGGroupNewRecord ID="AMGGroupNewRecord1" runat="server" />
</asp:Content>

