<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGGroupModify.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGGroupModify" %>

<%@ Register Src="../../Controls/AMGGroupModify.ascx" TagName="AMGGroupModify" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGGroupModify id="AMGGroupModify1" runat="server">
    </uc1:AMGGroupModify>
</asp:Content>

