<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGTaggedGetDetails.aspx.vb" Inherits="frmAMGTaggedGetDetails" %>

<%@ Register Src="../../Controls/AMGTaggedGetDetails.ascx" TagName="AMGTaggedGetDetails"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGTaggedGetDetails ID="AMGTaggedGetDetails1" runat="server" />
 

</asp:Content>
                            

