<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEditPropertyDocuments.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmEditPropertyDocuments"  %>

<%@ Register Src="../../Controls/EditPropertyDocuments.ascx" TagName="EditPropertyDocuments"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EditPropertyDocuments ID="EditPropertyDocuments1" runat="server" />
</asp:Content>

