﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenAstLabels.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmGenAstLabels" %>

<%@ Register src="../../Controls/GenAstLabels.ascx" tagname="GenAstLabels" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GenAstLabels ID="GenAstLabels1" runat="server" />
</asp:Content>

