<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmModifySpace.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmModifySpace" title="Masters" %>

<%@ Register Src="../../Controls/ModifySpace.ascx" TagName="ModifySpace" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ModifySpace id="ModifySpace1" runat="server">
    </uc1:ModifySpace>
</asp:Content>

