<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmMap_Assetto_user.aspx.vb" Inherits="Masters_Mas_Webfiles_frmMap_Assetto_user"
    Title="Assign Assets to Employee" %>

<%@ Register Src="../../Controls/Map_Assetto_user.ascx" TagName="Map_Assetto_user"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:Map_Assetto_user ID="Map_Assetto_user1" runat="server" />
</asp:Content>
