<%@ Page Language="VB"  MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmadfglobalerrorpage.aspx.vb" Inherits="AdminFunctions_ADF_WebFiles_frmadfglobalerrorpage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
