::-webkit-scrollbar {
    width : 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width : 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background   : #525965;
    border       : 0px none #ffffff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

::-webkit-scrollbar-thumb:active {
    background: #525965;
}

::-webkit-scrollbar-track {
    background   : transparent;
    border       : 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    font-size  : 0.9rem;
    font-family: 'Lato', sans-serif;
    background : #F3F4F8;
}

a:hover {
    color: unset !important;
}

.f-w-600 {
    font-weight: 600;
}

.f-s-16 {
    font-size: 16px;
}

.m-0 {
    margin: 0px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.no-padding {
    padding: 0px;
}


.cursor-pointer {
    cursor: pointer;
}

#login-left-content {
    min-height         : 100vh;
    height             : 100%;
    width              : 100%;
    background-image   : url("../images/login-bg.jpg");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

#login-bg-mobile {    
    min-height         : 115px;
    width              : 100%;
    background-image   : url("../images/mobile-bg.jpg");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.login-content {
    position: absolute;
    top     : 35%;
    color   : #fff;
}
.login-content-mobile{
    top: 16%;
}

.login-content h4 {
    font-weight: 500;
}

.login-content p {
    font-size  : 16px;
    line-height: 28px;
    color      : rgb(219, 219, 219);
}

.divider-30 {
    width     : 15%;
    background: #fff;
    margin    : 25px 0px;
    height    : 1px;
}

.Login-left-buttons .btn {
    padding    : 10px 40px;
    font-weight: 500;
    margin-top : 12px;
}


.login-forn-content {
    margin     : 0 auto;
    padding-top: 20px;
}

.Qfm-logo img {
    margin-bottom: 40px;
}
.logo-mobile img{
    margin-top: 10px;
}
.submit-button {
    width  : 100%;
    padding: 12px 0px;
}

.qfms-input {
    background-color: #fff;
    border          : 1px solid #E3E3E3;
    padding         : 12px 0px;

}

.social-button {
    color      : #202020;
    border     : 1px solid #8B8B8B;
    background : #fff;
    width      : 100%;
    text-align : left;
    font-size  : 18px;
    font-weight: 400;
    padding    : 10px;
    margin-top : 15px;
}

.social-button span {
    margin-right: 15%;
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position      : absolute;
    z-index       : 2;
    display       : block;
    width         : 2.575rem;
    line-height   : 48px;
    text-align    : center;
    pointer-events: none;
    color         : #8F8F8F;
}


@media only screen and (max-width: 1024px) {
    .Login-left-buttons .btn {
        padding: 12px 41px;
    }
}

.Login-form-footer {
    padding-top: 15px;
}

.Login-form-footer p {
    font-size: 18px;
    margin   : 10px 0px;
}

.login-footer-terms {
    color          : rgb(8, 153, 211);
    text-decoration: underline;
    padding        : 15px 0px;
    border-top     : 1px dashed #d2d2d2;
    cursor         : pointer;
}

.login-page-footer-text {
    padding           : 2px 15px;
    -webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow   : 0px 0px 5px rgba(0, 0, 0, 0.1);
    box-shadow        : 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color  : #fff;
    position          : relative;
    z-index           : 1020;
    display           : flow-root;
    position          : fixed;
    bottom            : 0px;
    width             : 100%;
}

.login-page-footer-text p {
    font-size    : 12px;
    color        : #000;
    margin-bottom: 2px;
    padding      : 5px 0px;
    font-weight  : 600;
}

.Form-wrap {
    padding-bottom: 15px;
}

.reset-model-header h2 {
    font-family: 'Conv_Proxima Nova Bold', Sans-Serif;
    color      : #000;
}

@media (max-width: 576px) {
    .Form-wrap {        
        padding-top   : 15px;
    }
}