.btn-Qfms{
    background: #FF8A02;
    color: #fff;
    font-weight: 400;
}
.btn-brand-primary{
    background: #0e2f5d;
    color: #fff;
}
.btn-brand-primary:hover{
    background: #0b1c37;
}
.brand-color-primary{
    color: #0e2f5d;
}
.btn-brand-primary:hover{
    color: #fff !important;    
}