body {
    font-size  : .9rem;
    font-family: Lato, sans-serif;
    background : #f2f2f2
}

.no-pading {
    padding: 0px;
}

.f-s-15 {
    font-size: 15px
}

.p-t-2 {
    padding-top: 2px
}
}

.p-t-2 {
    padding-top: 2px
}

.p-t-10 {
    padding-top: 10px
}

.p-r-15 {
    padding-right: 15px
}

.f-18 {
    font-size: 18px
}

.m-t-15 {
    margin-top: 15px
}

.m-t-25 {
    margin-top: 25px
}

.m-b-25 {
    margin-bottom: 25px;
}

.mT-30 {
    margin-top: 30px !important;
}

.m-r-10 {
    margin-right: 10px !important
}

.p-10 {
    padding: 10px
}


.bgc-white,
.bgcH-white:hover {
    background-color: #fff !important;
}

.bgc-gray {
    background-color:#eee !important;
}

.bd {
    border: 1px solid rgba(0, 0, 0, .0625) !important;
}

.p-20 {
    padding: 10px !important;
}

#close-sidebar,
#show-sidebar,
.page-wrapper .page-content,
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper .sidebar-menu ul li a,
.sidebar-wrapper ul li a i {
    -webkit-transition: all .3s ease;
    -moz-transition   : all .3s ease;
    -ms-transition    : all .3s ease;
    -o-transition     : all .3s ease;
    transition        : all .3s ease
}

.sidebar-menu a {
    color: #b8bfce
}

.sidebar-submenu a {
    color: #b8bfce
}

.sidebar-submenu a:hover {
    color      : #11dbff;
    border-left: 2px solid #11dbff
}

.left-menu-active-item {
    color      : #11dbff !important;
    border-left: 2px solid #11dbff
}

.page-wrapper {
    height: 100vh
}

.page-wrapper .theme {
    width        : 40px;
    height       : 40px;
    display      : inline-block;
    border-radius: 4px;
    margin       : 2px
}

.page-wrapper .theme.chiller-theme {
    background: #1e2229
}

.page-wrapper.toggled .sidebar-wrapper {
    left: 0
}

@media screen and (min-width:768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 220px
    }
}

#show-sidebar {
    position        : fixed;
    left            : 0;
    top             : 10px;
    border-radius   : 0 4px 4px 0;
    transition-delay: .3s;
    z-index         : 100;
    background      : #0e2f5d;
    border          : 0;
    color           : #fff
}

.page-wrapper.toggled #show-sidebar {
    left: -40px
}

.sidebar-wrapper {
    width     : 220px;
    height    : 100%;
    max-height: 100%;
    position  : fixed;
    top       : 0;
    left      : -262px;
    z-index   : 999
}

.sidebar-wrapper ul {
    list-style-type: none;
    margin         : 0
}

.sidebar-wrapper a {
    text-decoration: none
}

.side-menu-list {
    padding : 0 12px;
    /*height  : 68vh;*/
    overflow: auto
}

.sidebar-content {
    width: 212px
}

.sidebar-wrapper .sidebar-brand {
    padding      : 10px 20px;
    display      : flex;
    align-items  : center;
    height       : 50px;
    margin-bottom: 20px;
    background   : #0e2f5d
}

.brand-logo img {
    position: relative;
    height  : 34px;
    top     : 6px
}

.Curve-design h6 {
    position      : absolute;
    text-align    : 4px;
    color         : #fff;
    top           : 10px;
    font-weight   : 900;
    text-transform: uppercase;
    left          : 50px
}

.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight   : 700;
    flex-grow     : 1
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor   : pointer;
    font-size: 20px
}

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 100%;
    background    : #0e2f5d;
    border-radius : 0 6px 6px 0
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: 700;
    font-size  : 14px;
    padding    : 15px 20px 5px 20px;
    display    : inline-block
}

.sidebar-wrapper .sidebar-menu ul li a {
    display        : inline-block;
    width          : 100%;
    text-decoration: none;
    position       : relative;
    padding        : 8px 12px 8px 10px
}

.sidebar-wrapper .sidebar-menu .parent-sidemenu:hover {
    background   : #0b1c37;
    border-radius: 5px
}

.parent-sidemenu img {
    height      : 13px;
    position    : relative;
    bottom      : 2px;
    margin-right: 5px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right : 6px;
    font-size    : 8px;
    line-height  : 8px;
    text-align   : center;
    border-radius: 5px
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display  : inline-block;
    animation: swing ease-in-out .5s 1 alternate
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family            : FontAwesome;
    font-weight            : 900;
    content                : "\f105";
    font-style             : normal;
    display                : inline-block;
    font-style             : normal;
    font-variant           : normal;
    text-rendering         : auto;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align             : center;
    background             : 0 0;
    position               : absolute;
    right                  : 15px;
    top                    : 9px
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding      : 0px 0;
    background   : #0b1c37;
    margin-top   : 0px;
    border-radius: 6px
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    font-size: 13px
}

.sidebar-dropdown {
    margin: 5px 0
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    right    : 17px
}

.page-wrapper .page-content {
    display         : inline-block;
    width           : 100%;
    padding-left    : 0;
    background-color: #f1f1f1
}

.page-wrapper .page-content {
    overflow-x: hidden
}

::-webkit-scrollbar {
    width : 5px;
    height: 5px
}

::-webkit-scrollbar-button {
    width : 0;
    height: 0
}

::-webkit-scrollbar-thumb {
    background   : #525965;
    border       : 0 none #fff;
    border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
    background: #525965
}

::-webkit-scrollbar-thumb:active {
    background: #525965
}

::-webkit-scrollbar-track {
    background   : 0 0;
    border       : 0 none #fff;
    border-radius: 50px
}

::-webkit-scrollbar-track:hover {
    background: 0 0
}

::-webkit-scrollbar-track:active {
    background: 0 0
}

::-webkit-scrollbar-corner {
    background: 0 0
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color       : #bdbdbd;
    margin-right: 15px;
    font-size   : 16px
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #fff
}

.chiller-theme .sidebar-wrapper .sidebar-dropdown.active .parent-sidemenu {
    color        : #fff;
    background   : #0b1c37;
    border-radius: 5px
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88
}

.header-nav-section {
    padding      : 0 40px;
    border-bottom: 1px solid rgba(76, 87, 102, .1);
    position     : relative;
    height       : 50px;
    width        : 100%;
    left         : 0
}

.header-nav-section-child {
    position     : fixed;
    width        : 100%;
    left         : 0;
    height       : 60px;
    z-index      : 99;
    background   : #fff;
    border-top   : 5px solid #0e2f5d;
    border-bottom: 1px solid #dedede
}

.Curve-design img {
    padding-left: 0;
    position    : absolute;
    top         : -5px;
    z-index:-1;
}

.Client-logo-info {
    float       : left;
    padding-left: 280px;
    padding-top : 3px
}

.client-brand-logo {
    float: left
}

.client-brand-logo img {
    max-height: 45px
}

.Last-login-info {
    float      : left;
    margin-left: 15px
}

.Last-login-info p {
    margin     : 0;
    padding-top: 4px
}

.Table-row {
    padding-top   : 15px;
    padding-bottom: 35px
}


.dropdown-menu-title {
    color      : #1e2229;
    font-weight: 500
}

.nav--user img {
    width: 40px
}

.notification-button-style {
    border       : 1px solid #efe9e9;
    border-radius: 5px
}

.Store-issues-count {
    padding      : 2px 6px;
    background   : #f71717;
    margin-left  : 10px;
    border-radius: 5px;
    color        : #fff;
    font-weight  : 500;
    font-size    : 12px
}

@media screen and (max-width:768px) {
    .dropdown-menu-title {
        display: none
    }
}

@media screen and (max-width:768px) {
    .sidebar-menu-tooltip {
        display: none
    }
}

.navbar-menu-items {
    padding-top: 8px;
    font-size  : 14px;
    font-weight: 600
}

.nav-link .profile-icon {
    color        : #757575;
    padding      : 6px 8px;
    background   : #dedede;
    border-radius: 3px
}

.navbar-menu-items .nav-link {
    position: relative;
    color   : #141414;
    padding : 2px 12px !important
}

.navbar-menu-items .dropdown-menu {
    border    : none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .08)
}

.navbar-menu-items .dropdown-menu li {
    padding: 8px 0
}

.navbar-menu-items .dropdown-menu li :hover {
    color : #ff6700;
    cursor: pointer
}

.nav-item {
    color: #000
}

.nav-item:hover {
    cursor: pointer
}

.right-border {
    border-right: 1px solid #eee
}

.page-content-inner {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 20px;
    min-height: 400px;
}
/*.page-content-inner {
    min-height: 400px;
}*/
.sidebar-submenu .dropdown-icon {
    font-size   : 12px !important;
    margin-right: 10px !important
}

@media only screen and (min-width:1050px) {
    .mobile-toggle-dropdown {
        display: none
    }
}

@media only screen and (max-width:768px) {
    .Curve-design {
        display: none
    }

    .Client-logo-info {
        padding-left: 45px
    }

    .mobile-nav-hidden {
        display: none
    }

    .table-row-top-border th {
        width: 116px
    }
}

@media only screen and (max-width:1050px) {
    .mobile-nav-hidden {
        display: none
    }
}

@media only screen and (min-width:1024px) and (orientation:portrait) {
    .table-row-top-border th {
        width: 116px
    }
}

.side-menu-list-container {
    padding: 0
}



.Table-card {
    width        : 100%;
    border-radius: 5px;
    background   : #fff
}

.table-content {
    padding: 0 10px
}

.table-content .table th {
    border-top: 0
}

.table-row-bg {
    background: #f1f1f1
}

.table td {
    border-top: 0
}

.mobile-toggle-dropdown {
    font-size  : 18px;
    padding-top: 8px;
    cursor     : pointer
}

.mobile-dropdown-list li:hover {
    background: #ececec
}

.table-body-content-inner {
    display : block;
    height  : 300px;
    overflow: auto
}

.table-content tr {
    display     : table;
    width       : 100%;
    table-layout: fixed
}

.table-footer-row {
    background : #617591;
    color      : #fff;
    font-weight: 500
}


.login-page-footer-text {
    padding           : 5px 15px;
    -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, .1);
    -moz-box-shadow   : 0 0 5px rgba(0, 0, 0, .1);
    box-shadow        : 0 0 5px rgba(0, 0, 0, .1);
    background-color  : #fff;
    position          : relative;
    z-index           : 1020;
    display           : flow-root;
    position          : fixed;
    bottom            : 0;
    width             : 100%
}

.login-page-footer-text p {
    font-size    : 12px;
    color        : #000;
    margin-bottom: 2px;
    padding      : 5px 0;
    font-weight  : 600
}


.forms-row {
    width      : 100%;
    background : #fff;
    margin-top : 20px !important;
    padding-top: 15px;
}

.bridge-input {
    background-color: #f2f2f2;
    border          : 0;
    padding         : 12px 0
}

.bridge-input:focus {
    background-color: #f2f2f2;
    box-shadow      : none
}

.has-search .form-control {
    padding-left: 1.275rem
}

.has-search label {
    font-weight: 600
}

select.form-control:not([size]):not([multiple]) {
    height: unset
}

.dropdown-address .dropdown-list-address {
    width           : 100%;
    background-color: #f2f2f2 !important;
    border          : 0;
    padding         : 11px 18px;
    color           : #888;
    font-size       : 16px;
    border-radius   : 5px
}

.collapse-card {
    margin: 2px 0px;
}

.btn-link-collapse {
    text-decoration: none;
    width          : 100%;
    text-align     : left;
    border         : none;
    background     : transparent;
    font-weight    : 600;
    color          : rgb(37, 37, 37);
}




label {
    position : relative;
    cursor   : pointer;
    color    : #666;
    font-size: 12px;
}

.form-check {
    padding-left: 0px;
}

/*input[type="checkbox"],*/
/*input[type="radio"] {
    position: absolute;
    right   : 9000px;
}*/

/*Check box*/
input[type="checkbox"]+.label-text:before {
    content               : "\f096";
    font-family           : "FontAwesome";
    speak                 : none;
    font-style            : normal;
    font-weight           : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 5px;
}

input[type="checkbox"]:checked+.label-text:before {
    content  : "\f14a";
    color    : #3a3a3a;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled+.label-text {
    color: #aaa;
}

input[type="checkbox"]:disabled+.label-text:before {
    content: "\f0c8";
    color  : #ccc;
}

/*Radio box*/

input[type="radio"]+.label-text:before {
    content               : "\f10c";
    font-family           : "FontAwesome";
    speak                 : none;
    font-style            : normal;
    font-weight           : normal;
    font-variant          : normal;
    text-transform        : none;
    line-height           : 1;
    -webkit-font-smoothing: antialiased;
    width                 : 1em;
    display               : inline-block;
    margin-right          : 5px;
}

input[type="radio"]:checked+.label-text:before {
    content  : "\f192";
    color    : #3a3a3a;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled+.label-text {
    color: #aaa;
}

input[type="radio"]:disabled+.label-text:before {
    content: "\f111";
    color  : #ccc;
}


.alert {
    min-width    : 150px;
    padding      : 15px;
    margin-bottom: 20px;
    border       : 1px solid transparent;
    border-radius: 3px;
    color        : #fff;
}

.alert-success {
    background-color: #8bc34a;
}

.alert-warning {
    background-color: #f87d09;
}

.alert-danger {
    background-color: #f12020;
}

.alert p {
    padding: 0;
    margin : 0;
}

.alert i {
    padding-right : 5px;
    vertical-align: middle;
    font-size     : 24px;
}

.alert .close-alert {
    -webkit-appearance: none;
    position          : relative;
    float             : right;
    padding           : 0;
    border            : 0;
    cursor            : pointer;
    color             : inherit;
    background        : 0 0;
    font-size         : 21px;
    line-height       : 1;
    filter            : alpha(opacity=40);
}

@media (min-width: 576px) {
    .rounded-nav {
        border-radius: 4px !important;
    }
}

@media (min-width: 576px) {
    .rounded-nav .nav-link {
        border-radius: 4px !important;
    }
}

.nav-pills li a {
    color: #000;

}

.nav-pills .nav-link.active {
    background: #0e2f5d;
}

.Model-content-card {
    padding      : 15px;
    border       : none;
    border-radius: 4px;
}

.fms-modal-body {
    padding: 25px 0px;
}




#loading {
    display          : inline-block;
    width            : 50px;
    height           : 50px;
    border           : 3px solid #cacaca;
    border-radius    : 50%;
    border-top-color : #0e2f5d;
    animation        : spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color           : #fff;
    background-color: #0e2f5d;
}

.nav-pills>li>a {
    border-radius: 4px;
}

.nav>li>a {
    position: relative;
    display : block;
    padding : 10px 15px;
}

.list-group-item-heading {
    margin-top   : 0;
    margin-bottom: 0px;
}

.nav>li.disabled>a {
    color: #777;
}

.nav-pills>li>a {
    border-radius: 4px;
}

.nav>li>a {
    position: relative;
    display : block;
    padding : 10px 15px;
}

.nav>li.disabled>a:focus,
.nav>li.disabled>a:hover {
    color           : #777;
    text-decoration : none;
    cursor          : not-allowed;
    background-color: transparent;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration : none;
    background-color: #eee;
}

.setup-panel {
    background: #f8f9fa;
}

.stepper-inner-content {
    padding: 25px 0px;
}

.ripple {
    background-position: center;
    transition         : background 0.8s;
}

.ripple:hover {
    background: #0e2f5d radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
    background-color: #0e2f5d;
    background-size : 100%;
    transition      : background 0s;
}

.datepicker.dropdown-menu {
    padding      : 20px !important;
    box-shadow   : 0 1px 20px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid #0b1c37;
    border       : 0px;
}

.datepicker.dropdown-menu td {
    padding: 6px 8px;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-image: none;
    background-color: #0b1c37;
    color           : #fff;
}

.datepicker.dropdown-menu th {
    padding: 10px 5px;
}

.calender-style {
    position: relative;
    top     : 8px;
    right   : 26px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  
}

.btn-light {
    border-radius   : .25rem;
    background-color: #f2f2f2;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {}



small {
    color: firebrick;
}

div.checkbox_select {
    width: 200px;
}

.checkbox_select_anchor {
    display      : block;
    background   : #f2f2f2;
    color        : white;
    cursor       : pointer;
    padding      : 12px 10px;
    position     : relative;
    border-radius: 4px;
}

.checkbox_select_anchor:after {
    width       : 0;
    height      : 0;
    border-left : 10px solid transparent;
    border-right: 10px solid transparent;
    border-top  : 10px solid #7b7b7b;
    content     : "";
    position    : absolute;
    right       : 10px;
    top         : 18px;
}

.expanded .checkbox_select_anchor:after {
    border-top   : 0;
    border-bottom: 10px solid #f1f1f1 ;
}


.checkbox_select_anchor:hover {
    background: #f1f1f1  !important;
}

.expanded .checkbox_select_anchor {
    background: #f1f1f1 ;
}

div.checkbox_select .select_input {
    width : 100%;
    cursor: pointer;
}

.checkbox_select_dropdown {
    display   : none;
    background: whitesmoke;
}

.checkbox_select_dropdown.show {
    display: block;
}

.checkbox_select_dropdown ul {
    max-height   : 150px;
    overflow-y   : scroll;
    overflow-x   : hidden;
    padding      : 0;
    margin       : 0;
    border       : 1px solid #eee;
    border-top   : 0;
    border-bottom: 0;
}

.checkbox_select_dropdown ul li {
    list-style: none;
    position  : relative;
    color     : #666;
}

.checkbox_select_dropdown ul li label {
    position : relative;
    padding  : 10px 5px 5px 40px;
    display  : block;
    cursor   : pointer;
    font-size: 14px;
}

.checkbox_select_dropdown ul li label:hover {
    background: #cbcbcb;
    color     : white;
}

.checkbox_select_dropdown ul li input:checked+label {
    background : #bbb;
    color      : white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

.checkbox_select_dropdown ul li input {
    position: absolute;
    left    : 13px;
    z-index : 1;
    top     : 3px;
    display : inline-block;
    height  : 100%;
    width   : 18px;
}

.checkbox_select_search {
    width             : 200px;
    padding           : 10px 5px 5px;
    border            : 1px solid #eee;
    border-top        : 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}
.checkbox_select_search:focus{
    border            : 1px solid rgb(223, 223, 223);
}

.checkbox_select_submit {
    background: #00A600;
    color     : white;
    padding   : 10px 5px 5px;
    border    : 0;
    width     : 100%;
    font-size : 14px;
    cursor    : pointer;
}

.hide {
    display: none;
}

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}

.panel-heading-qfms {
    border-bottom: 1px solid rgba(0,0,0,.12);
    /* height: 44px; */
     
    padding-bottom: 15px;
}
.panel-heading-qfms-title {
    font-size: 18px;   
    font-weight:600;
    color:black
}

.form-group {
    margin-bottom: 15px !important;
}
.btn-default {
    background-color:#fff !important;
    padding: 10px 12px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover {
        background-color: #0d98ba !important;
}
.form-control:focus {
        border-color: #8a8a8a !important;
}
.btn-qfms {
        padding: 10px 12px !important;
    border-radius: 4px !important;
}
    .btn-qfms:hover {
        transform: none;
    }

.alert-danger {

    background-color:#fff !important;
}


.btn-primary {
    color: #fff  !important;
    background-color: #0e2f5d  !important;
    border-color: #0e2f5d   !important;
}

.table > tbody > tr > th {
    background-color: #0d98ba;
    text-align: left;
    color: white;
    font-weight: 600;
    height: 35px;
    vertical-align: central;
}

/*.bootstrap-select > .dropdown-toggle {
        width: 105% !important;
        padding-right: 25px;
        z-index: 1;
    }*/
.nav.nav-tabs {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid transparent;
    background-color: #0d98ba  !important;
}