﻿.grid-align {
    /*text-align: center;*/
}

a:hover {
    cursor: pointer;
}

#user {
    color: #FFFFFF;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.ag-header-cell-filtered {
    background-color: #4682B4;
}
/*form wizard start*/
body {
    margin-top: 02px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    /*text-align: center;*/
    position: relative;
}

.btn-circle {
    /*width: 30px;*/
    height: 30px;
    text-align: center;
    /*padding: 6px 0;*/
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
/*form wizard end*/
