.sidebar
{
    display: block;
    float: left;
    width: 250px;
    background: linear-gradient(to bottom,#466788 0,#1D4A81 100%);
    background-color: #466788;
    max-height: 800px;
    overflow:hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: initial;
}

.content
{
    display: block;
    overflow: hidden;
    width: auto;
}

.sidebar-nav
{
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(89, 110, 147, 0) 10px, #1D4573 10px);
}

    .sidebar-nav ul
    {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .sidebar-nav a,
    .sidebar-nav a:hover,
    .sidebar-nav a:focus,
    .sidebar-nav a:active
    {
        outline: none; 
    }

    .sidebar-nav ul li,
    .sidebar-nav ul a
    {
        display: block;
    }

    .sidebar-nav ul a
    {
        padding: 10px 20px;
        color: #D1D3D5;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
        -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#466788,EndColorStr=#1D4A81)";
    }

        .sidebar-nav ul a:hover,
        .sidebar-nav ul a:focus,
        .sidebar-nav ul a:active
        {
            color: #fff;
            text-decoration: none;
        }

    .sidebar-nav ul ul a
    {
        padding: 10px 30px;
        background-color: rgba(176, 210, 255, 0.2);
    }

        .sidebar-nav ul ul a:hover,
        .sidebar-nav ul ul a:focus,
        .sidebar-nav ul ul a:active
        {
            background-color: rgba(176, 210, 255, 0.2); background: #56789E;
        }

.sidebar-nav-item
{
    padding-left: 5px;
}

.sidebar-nav-item-icon
{
    padding-right: 5px;
}


/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) {
    .sidebar
    {
        height: 567px;
    }
}*/

/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) {
    .sidebar
    {
        height: 553px;
    }
}*/

/* For few large screens in Office */
/*@media only screen and (min-height : 809px) {
    .sidebar
    {
        height: 709px;
    }
}*/