﻿body {
    background-color: #F7F7F7;
}

.pagination-ys {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: white;
            background-color: #333;
            border: 1px solid #333;
            margin-left: -1px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #aea79f;
            background-color: #333;
            border-color: #333;
            cursor: default;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.form-control {
    border-color: #d6d6d6;
}

table > tbody > tr > th {
    background-color: #1C2B36;
    text-align: left;
    color: white;
    font-weight: 600;
    height: 35px;
    vertical-align: central;
}

.selectpicker {
    /*border-color: white;*/
}

table {
    font: 12px/14px Roboto,sans-serif;
}

.grid-align {
    text-align: left;
}

a:hover {
    cursor: pointer;
}

.ag-cell {
    color: black;
}

.ag-header-cell-filtered {
    background-color: #209e91;
}

.modal-header-primary {
    color: #1D1C1C;
    padding: 9px 15px;
}

#word {
    color: #4813CA;
}

#pdf {
    color: #FF0023;
}

#excel {
    color: #2AE214;
}

.ag-header-cell-filtered {
    background-color: #4682B4;
}


.ag-header-cell-menu-button {
    opacity: 1 !important;
    transition: opacity 0.5s, border 0.2s;
}

.ag-header-cell {
    background-color: #0d98ba;
}

table {
    font: 12px/14px Roboto,sans-serif;
}

.selectedseat {
    background-color: #ebf442;
}

.longleave {
    background-color: #800080;
}

.block {
    background-color: #000000;
}


.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {    
    z-index:9999!important;
    padding-top: 50px !important;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
