.ag-blue img {
    vertical-align: middle;
    border: 0;
}

.ag-blue .ag-root {
    border: 1px solid #9bc2e6;
}

.ag-blue .ag-cell-not-inline-editing {
    padding: 2px;
}

.ag-blue .ag-cell-range-selected-1:not(.ag-cell-focus) {
    background-color: rgba(120,120,120,0.4);
}

.ag-blue .ag-cell-range-selected-2:not(.ag-cell-focus) {
    background-color: rgba(80,80,80,0.4);
}

.ag-blue .ag-cell-range-selected-3:not(.ag-cell-focus) {
    background-color: rgba(40,40,40,0.4);
}

.ag-blue .ag-cell-range-selected-4:not(.ag-cell-focus) {
    background-color: rgba(0,0,0,0.4);
}

.ag-blue .ag-column-moving .ag-cell {
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -ms-transition: left 0.2s;
    transition: left 0.2s;
}

.ag-blue .ag-column-moving .ag-header-cell {
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -ms-transition: left 0.2s;
    transition: left 0.2s;
}

.ag-blue .ag-column-moving .ag-header-group-cell {
    -webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -ms-transition: left 0.2s;
    transition: left 0.2s;
}

.ag-blue .ag-cell-focus {
    border: 2px solid #217346;
}

.ag-blue .ag-cell-no-focus {
    border-right: 1px dotted #9bc2e6;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 1px dotted #9bc2e6;
}

.ag-blue .ag-cell-first-right-pinned {
    border-left: 1px solid #9bc2e6;
}

.ag-blue .ag-cell-last-left-pinned {
    border-right: 1px solid #9bc2e6;
}

.ag-blue .ag-cell-highlight {
    border: 1px solid #006400;
}

.ag-blue .ag-cell-highlight-animation {
    -webkit-transition: border 1s;
    -moz-transition: border 1s;
    -o-transition: border 1s;
    -ms-transition: border 1s;
    transition: border 1s;
}

.ag-blue .ag-value-change-delta {
    padding-right: 2px;
}

.ag-blue .ag-value-change-delta-up {
    color: #006400;
}

.ag-blue .ag-value-change-delta-down {
    color: #8b0000;
}

.ag-blue .ag-value-change-value {
    background-color: transparent;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    padding-left: 1px;
    padding-right: 1px;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    -ms-transition: background-color 1s;
    transition: background-color 1s;
}

.ag-blue .ag-value-change-value-highlight {
    background-color: #cec;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.ag-blue .ag-rich-select {
    font-size: 14px;
    border: 1px solid #9bc2e6;
    background-color: #fff;
}

.ag-blue .ag-rich-select-value {
    padding: 2px;
}

.ag-blue .ag-rich-select-list {
    border-top: 1px solid #d3d3d3;
}

.ag-blue .ag-rich-select-row {
    padding: 2px;
}

.ag-blue .ag-rich-select-row-selected {
    background-color: #c7c7c7;
}

.ag-blue .ag-large-text {
    border: 1px solid #9bc2e6;
}

.ag-blue .ag-header {
    color: #fff;
    background: #5b9bd5;
    border-bottom: 1px solid #9bc2e6;
    font-weight: 600;
}

.ag-blue .ag-header-icon {
    color: #fff;
    stroke: none;
    fill: #fff;
}

.ag-blue .ag-no-scrolls .ag-header-container {
    background: #5b9bd5;
    border-bottom: 1px solid #9bc2e6;
}

.ag-blue .ag-header-cell {
    border-right: 1px solid #9bc2e6;
}

.ag-blue .ag-header-cell-moving .ag-header-cell-label {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ag-blue .ag-header-cell-moving {
    background-color: #bebebe;
}

.ag-blue .ag-header-group-cell {
    border-right: 1px solid #9bc2e6;
}

.ag-blue .ag-header-group-cell-with-group {
    border-bottom: 1px solid #9bc2e6;
}

.ag-blue .ag-header-cell-label {
    padding: 4px 2px 4px 2px;
}

.ag-blue .ag-header-cell-text {
    padding-left: 2px;
}

.ag-blue .ag-header-group-cell-label {
    padding: 4px;
    padding-left: 10px;
}

.ag-blue .ag-header-group-text {
    margin-right: 2px;
}

.ag-blue .ag-header-cell-menu-button {
    padding: 2px;
    margin-top: 4px;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
    -moz-box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
    box-sizing: content-box /* When using bootstrap, box-sizing was set to 'border-box' */;
    line-height: 0px /* normal line height, a space was appearing below the menu button */;
}

.ag-blue .ag-pinned-right-header {
    border-left: 1px solid #9bc2e6;
}

.ag-blue .ag-header-cell-menu-button:hover {
    border: 1px solid #9bc2e6;
}

.ag-blue .ag-body {
    background-color: #f6f6f6;
}

.ag-blue .ag-row {
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    -o-transition: background-color 0.1s;
    -ms-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

.ag-blue .ag-row-odd {
    background-color: #ddebf7;
}

.ag-blue .ag-row-even {
    background-color: #fff;
}

.ag-blue .ag-row-selected {
    background-color: #c7c7c7;
}

.ag-blue .ag-floating-top .ag-row {
    background-color: #f0f0f0;
}

.ag-blue .ag-floating-bottom .ag-row {
    background-color: #f0f0f0;
}

.ag-blue .ag-overlay-loading-wrapper {
    background-color: rgba(255,255,255,0.5);
}

.ag-blue .ag-overlay-loading-center {
    background-color: #fff;
    border: 1px solid #9bc2e6;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #000;
}

.ag-blue .ag-overlay-no-rows-center {
    background-color: #fff;
    border: 1px solid #9bc2e6;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

.ag-blue .ag-group-cell-entire-row {
    background-color: #f6f6f6;
    padding: 2px;
}

.ag-blue .ag-footer-cell-entire-row {
    background-color: #f6f6f6;
    padding: 2px;
}

.ag-blue .ag-group-cell {
    font-style: italic;
}

.ag-blue .ag-group-expanded {
    padding-right: 4px;
}

.ag-blue .ag-group-contracted {
    padding-right: 4px;
}

.ag-blue .ag-group-value {
    padding-right: 2px;
}

.ag-blue .ag-group-checkbox {
    padding-right: 2px;
}

.ag-blue .ag-footer-cell {
    font-style: italic;
}

.ag-blue .ag-menu {
    border: 1px solid #808080;
    background-color: #f6f6f6;
    cursor: default;
    font-family: Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
    font-size: 10pt;
}

    .ag-blue .ag-menu .ag-tab-header {
        background-color: #5b9bd5;
    }

    .ag-blue .ag-menu .ag-tab {
        padding: 6px 8px 6px 8px;
        margin: 2px 2px 0px 2px;
        display: inline-block;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
    }

    .ag-blue .ag-menu .ag-tab-selected {
        background-color: #9bc2e6;
        border-right: 1px solid #d3d3d3;
        border-left: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3;
    }

.ag-blue .ag-menu-separator {
    border-top: 1px solid #d3d3d3;
}

.ag-blue .ag-menu-option-active {
    background-color: #c7c7c7;
}

.ag-blue .ag-menu-option-icon {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.ag-blue .ag-menu-option-text {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.ag-blue .ag-menu-option-shortcut {
    padding: 2px 2px 2px 20px;
    vertical-align: middle;
}

.ag-blue .ag-menu-option-popup-pointer {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.ag-blue .ag-menu-option-disabled {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ag-blue .ag-menu-column-select-wrapper {
    margin: 2px;
}

.ag-blue .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
}

.ag-blue .ag-filter-header-container {
    border-bottom: 1px solid #d3d3d3;
}

.ag-blue .ag-filter-apply-panel {
    border-top: 1px solid #d3d3d3;
    padding: 2px;
}

.ag-blue .ag-filter-value {
    margin-left: 4px;
}

.ag-blue .ag-selection-checkbox {
    padding-right: 4px;
}

.ag-blue .ag-paging-panel {
    padding: 4px;
}

.ag-blue .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
}

.ag-blue .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
}

.ag-blue .ag-tool-panel {
    background-color: #f6f6f6;
    border-right: 1px solid #9bc2e6;
    border-bottom: 1px solid #9bc2e6;
    border-top: 1px solid #9bc2e6;
    color: #222;
}

.ag-blue .ag-status-bar {
    color: #222;
    background-color: #f6f6f6;
    font-size: 10pt;
    height: 22px;
    border-bottom: 1px solid #9bc2e6;
    border-left: 1px solid #9bc2e6;
    border-right: 1px solid #9bc2e6;
    padding: 2px;
}

.ag-blue .ag-status-bar-aggregations {
    float: right;
}

.ag-blue .ag-status-bar-item {
    padding-left: 10px;
}

.ag-blue .ag-column-drop-cell {
    background: #ddebf7;
    color: #000;
    border: 1px solid #808080;
}

.ag-blue .ag-column-drop-cell-ghost {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.ag-blue .ag-column-drop-cell-text {
    padding-left: 2px;
    padding-right: 2px;
}

.ag-blue .ag-column-drop-cell-button {
    border: 1px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    .ag-blue .ag-column-drop-cell-button:hover {
        border: 1px solid #9bc2e6;
    }

.ag-blue .ag-column-drop-empty-message {
    padding-left: 2px;
    padding-right: 2px;
    color: #808080;
}

.ag-blue .ag-column-drop-icon {
    padding-right: 4px;
}

.ag-blue .ag-column-drop {
    background-color: #f6f6f6;
}

.ag-blue .ag-column-drop-horizontal {
    padding: 4px 4px 4px 4px;
    border-top: 1px solid #9bc2e6;
    border-left: 1px solid #9bc2e6;
    border-right: 1px solid #9bc2e6;
}

    .ag-blue .ag-column-drop-horizontal .ag-column-drop-cell {
        padding: 2px;
    }

.ag-blue .ag-column-drop-vertical {
    padding: 4px 4px 10px 4px;
    border-bottom: 1px solid #9bc2e6;
}

    .ag-blue .ag-column-drop-vertical .ag-column-drop-cell {
        margin-top: 2px;
    }

    .ag-blue .ag-column-drop-vertical .ag-column-drop-empty-message {
        text-align: center;
        padding: 5px;
    }

.ag-blue .ag-pivot-mode {
    border-bottom: 1px solid #9bc2e6;
    padding: 4px;
    background-color: #f6f6f6;
}

.ag-blue .ag-tool-panel .ag-column-select-panel {
    border-bottom: 1px solid #9bc2e6;
}

.ag-blue .ag-select-agg-func-popup {
    cursor: default;
    position: absolute;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #9bc2e6;
}

.ag-blue .ag-select-agg-func-item {
    padding-left: 2px;
    padding-right: 2px;
}

    .ag-blue .ag-select-agg-func-item:hover {
        background-color: #c7c7c7;
    }
