.heading {
	font-WEIGHT: bold;
	font-SIZE: 21px;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	color: #669933;

}
.bodytext {
	font-SIZE: 12px;
	COLOR: #000000;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
.message {
	font-SIZE: 16px;
	COLOR: #F2c100;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
B {
	COLOR: #000080
}
StrONG {
	COLOR: #09458c
}
P {
	font-SIZE: 12px;
	COLOR: #000000;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
td {
	font-SIZE: 12px;
	COLOR: #000000;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;

}
td A {
	font-SIZE: 12px; COLOR: #000000; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
td A:hover {
	font-SIZE: 12px; COLOR: #355EBC; font-FAMILY: Arial, Helvetica, sans-serif
}
.toptxextlinks {
	font-SIZE: 10px;
	COLOR: #000000;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: normal;

}
.toptxextlinks A {
	font-SIZE: 10px; COLOR: #ffffff; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.toptxextlinks A:hover {
	font-SIZE: 10px; COLOR: #FF0000; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.leftlinks {
	font-SIZE: 12px;
	COLOR: #FFFFFF;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;

}
.leftlinks A {
	font-SIZE: 12px;
	COLOR: #FFFFFF;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline;
	font-weight: bold;

}
.leftlinks A:hover {
	font-SIZE: 12px;
	COLOR: #CCCCCC;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;

}
.rightlinks {
	font-SIZE: 10px; COLOR: #000000; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rightlinks A {
	font-SIZE: 10px; COLOR: #000080; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rightlinks A:hover {
	font-SIZE: 10px; COLOR: #999999; font-FAMILY: Arial, Helvetica, sans-serif
}
.botlinks {
	font-SIZE: 10px;
	COLOR: #FFFFFF;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;

}
.botlinks A {
	font-SIZE: 11px; COLOR: #89EB5A; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.botlinks A:hover {
	font-SIZE: 11px; COLOR: #FFFFFF; LINE-HEIGHT: 12px; font-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.subheading {


	font-WEIGHT: bold;
	font-SIZE: 14px;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.button {
	font-SIZE: 11px;
	COLOR: #FFFFFF;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
	background-color: #11568C;
	border: 1px solid #000000;
}
.button1 {
	BACKGROUND: #dfe6ef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #4c77b6;
	font-size: 11px;
	padding: 2px;


}

.address {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}
.maintable {
	border: 1px solid #000000;






}
.flashtable {

	border: 3px solid #02AB0A;
}
.textbox {

	font-SIZE: 12px;
	COLOR: #000000;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: normal;
	background-color: #E0E3F3;
	border: 1px solid #000000;
}
.Copyright {

	font-SIZE: 11px;
	COLOR: #FFFFFF;
	font-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none;
	font-weight: bold;
}
.login {

	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.bg {
	background-image: url(top.jpg);
	background-repeat: no-repeat;

}
