<%@ Page Language="VB" AutoEventWireup="false"
    CodeFile="prvnt_maintenance_report.aspx.vb" Inherits="MaintenanceManagement_PMC_Reports_prvnt_maintenance_report"
    Title="Untitled Page" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper" class="row">
            <div class="row form-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Preventive Maintenance Reports </legend>
                        </fieldset>
                        <form id="form1" class="form-horizontal well" runat="server">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <asp:LinkButton ID="lnkBtnPSD" runat="server">PPM Status Details</asp:LinkButton>
                                    </div>
                                </div>
                                <%-- <div class="col-md-6">
                                    <div class="form-group">
                                        <asp:LinkButton ID="lnkBtnANUM" runat="server">Assets Not Under Maintenance</asp:LinkButton>
                                    </div>
                                </div>--%>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <asp:LinkButton ID="lnkBtnPCD" runat="server">PPM Cost Details</asp:LinkButton>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>
