<%@ Control Language="VB" AutoEventWireup="false" CodeFile="SelFloors.ascx.vb" Inherits="Controls_SelFloors" %>
 <script language="javascript" type="text/javascript">
		
			function submitall()
			{		
						    	
				var flm=document.form1.drpdwnFlm_Id.value;
				var tlr=document.form1.drpdwnTwm_Id.value;
//				document.Form1.target="DisplayFloors";
//				document.Form1.action="DisFloors.aspx?FLR_ID="+flm;
//				document.Form1.submit();
				
				document.form1.target="SelectFloors";
				document.form1.action="SelFloors.aspx?FLR_CODE="+flm;
				document.form1.submit();
								 
				if (parent.hidden.document.f1.User.value=="Admin")
				{
				
					document.form1.target="main";
					document.form1.action="ViewMap_Admin.aspx?FLR_CODE="+flm;
					document.form1.submit();
					
//					document.form1.target="Reports";
//					document.form1.action="Reports2.aspx?FLR_CODE="+flm;
//					document.form1.submit();
					
					document.form1.target="maptools";
					document.form1.action="maptools_admin.aspx?FLR_CODE="+flm;
					document.form1.submit();
					
					document.form1.target="query";
					document.form1.action="query.aspx?FLR_CODE="+flm;
					document.form1.submit();
					
					top.Themes.location = "Themes.htm";
					top.Themes_Show.location = "Themes_Hide.htm";
				}
				else if (parent.hidden.document.f1.User.value=="Edit")
				{
					
					document.form1.target="main";
					document.form1.action="ViewMap_Edit.aspx?FLR_CODE="+flm;
					document.form1.submit();
					
					document.form1.target="maptools";
					document.form1.action="maptools_edit.aspx?FLR_CODE="+flm;
					document.form1.submit();

					document.form1.target="Line";
					document.form1.action="Line.aspx?FLR_CODE="+flm;
					document.form1.submit();					
					
					document.form1.target="Point";
					document.form1.action="Point.aspx?FLR_CODE="+flm;
					document.form1.submit();	
					
					document.form1.target="Polygon";
					document.form1.action="Polygon.aspx?FLR_CODE="+flm;
					document.form1.submit();									
					
					document.form1.target="Asset";
					document.form1.action="Asset.aspx?FLR_ID="+flm;
					document.form1.submit();
				}
				else
				{
				    
					document.form1.target="main";
					document.form1.action="ViewMap_User.aspx?FLR_CODE="+flm;
					document.form1.submit();
					
					document.form1.target="query";
					document.form1.action="query.aspx?FLR_CODE="+flm;
					document.form1.submit();
					
					 
			
					document.form1.target="Departments";
					 document.form1.action="Map_Departments.aspx?FLR_CODE="+flm+"&TWR_CODE="+tlr;
					 document.form1.submit();

                    document.form1.target="Reports2";
					document.form1.action="Reports2.aspx?FLR_CODE="+flm+"&TWR_CODE="+tlr;
					document.form1.submit();
					
					
										
				}	
				
			}				
			
    </script>
                    
        <table class="table" cellspacing="0" cellpadding="0" align="center" border="0">
        <tr>
        <td colspan="2">  <asp:TextBox ID="txtFlr"   runat="server" Height="23px" Width="125px"></asp:TextBox></td>
        </tr>
            <tr align="left">
                <td bgcolor="#3e86cb">
                    &nbsp;&nbsp;&nbsp;</td>
                <td width="700" bgcolor="#3e86cb" height="15">
                    <b><span style="color: white">Select</span></b></td>
            </tr>
        </table>
        <table cellspacing="0" cellpadding="2" width="171" align="center" border="0">
            <tr>
                <td style="height: 15px">
                    Location</td>
                <td style="height: 15px" align="center">
                    <asp:DropDownList ID="drpdwnLocation" runat="server" Width="151px" CssClass="clsComboBox"
                        AutoPostBack="True">
                    </asp:DropDownList></td>
            </tr>
            <tr>
                <td style="height: 15px">
                    Tower</td>
                <td style="height: 15px" align="center">
                    <asp:DropDownList ID="drpdwnTwm_Id" runat="server" Width="151px" CssClass="clsComboBox"
                        AutoPostBack="True">
                    </asp:DropDownList></td>
            </tr>
            <tr>
                <td>
                    Floor</td>
                <td align="center">
                    <asp:DropDownList ID="drpdwnFlm_Id" runat="server" Width="150px" CssClass="clsComboBox">
                    </asp:DropDownList></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <table cellspacing="0" cellpadding="2" width="150" align="center" border="0">
                        <tbody>
                            <tr>
                                <td style="cursor: hand" align="center">
                                    <a href="#">
                                        <img alt="" onclick="submitall()" src="Images/view.jpg" border="0" id="IMG1" /></a></td>
                                <% 
                                    If txtMode.Text = "EDIT" Then%>
                                <td style="cursor: hand" align="center">
                                    <a href="#">
                                        <img alt="" onclick="doGetKey()" src="Images/getid1.jpg" border="0" /></a>
                                </td>
                                <td>
                                    <asp:ImageButton ID="ImageButton1" runat="server" Height="16px" Width="41px" ImageUrl="./Images/submit.jpg">
                                    </asp:ImageButton></td>
                                <% End If%>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td align="center">
                </td>
            </tr>
            <tr>
            <td>  <input id="TxtKey1"  type="text" size="50" name="TxtKey1" runat="server" /></td>
            <td><asp:TextBox ID="txtMode"   runat="server" Height="19px" Width="185px" Visible="False"></asp:TextBox></td>
            </tr>
        </table>
        &nbsp;&nbsp; &nbsp;&nbsp;
       
        