<%@ Control Language="VB" AutoEventWireup="false" CodeFile="SurrenderRequisitions.ascx.vb"
    Inherits="Controls_SurrenderRequisitions" %>
<div class="row" style="margin-top: 10px">
    <div class="col-md-12">
        <div class="row">
            <asp:GridView ID="gvSurrenderAstReq" runat="server" EmptyDataText="No View Surrender Requisition Found."
                AllowPaging="true" PageSize="10" CssClass="table table-condensed table-bordered table-hover table-striped" AutoGenerateColumns="false">
                <Columns>
                    <asp:TemplateField HeaderText="Requisition ID" ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                              <asp:HyperLink ID="hLinkDetails" runat="server" NavigateUrl='<%#Eval("SREQ_ID", "~/FAM/FAM_WebFiles/UpdateSurrenderRequisitions.aspx?Req_id={0}")%>'
                                 Text='<%# Eval("SREQ_ID")%> '></asp:HyperLink>
                            <asp:Label ID="lblSREQ_ID" runat="server" Text='<%#Eval("SREQ_ID") %>' Visible="false"></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    
                  <%--   <asp:TemplateField HeaderText="Asset ID"  ItemStyle-HorizontalAlign="left" Visible="false">
                        <ItemTemplate>
                            <asp:Label ID="lblAstName" runat="server" Text='<%#Eval("AAT_NAME")%>'></asp:Label>
                        </ItemTemplate>
                         </asp:TemplateField>--%>
<%--                    <asp:TemplateField HeaderText="Asset Code" ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:Label ID="lblAAT_AST_CODE" runat="server" Text='<%#Eval("AAT_AST_CODE") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>--%>
                  <%--  <asp:TemplateField HeaderText="Asset Name" Visible="false" ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:Label ID="lblAstName" runat="server" Text='<%#Eval("AAT_DESC")%>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>--%>
                    <asp:TemplateField HeaderText="Location" Visible="false"  ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:Label ID="lblLCM_NAME" runat="server" Text='<%#Eval("LCM_NAME") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>

                    <asp:TemplateField HeaderText="Requested Date"  ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:Label ID="lblSurrenderDate" runat="server" Text='<%#Eval("AAT_SURRENDERED_DATE") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Requested By">                       
                        <ItemTemplate>                           
                            <asp:Label ID="lblSurBy" runat="server" Text='<%#Eval("AUR_NAME")%>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="Surrender Status"  ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:Label ID="lblSurStatus" runat="server" Text='<%#Eval("STA_TITLE") %>'></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                     
                   <%-- <asp:TemplateField HeaderText="View" ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:LinkButton ID="lnkEdit" runat="server" CommandArgument='<%#Eval("SREQ_ID") %>'
                                CommandName="Edit"> View</asp:LinkButton>
                        </ItemTemplate>
                    </asp:TemplateField>--%>
                </Columns>
                <HeaderStyle BackColor="#366599" ForeColor="#E2E2E2" />
                <PagerStyle CssClass="pagination-ys" />
            </asp:GridView>
        </div>
    </div>
</div>
